<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ocean bluwhale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <div class="container">
        <div class="cart">
            <header>
                <div class="logo">
                    <a href="{{ url_for('main.home') }}">
                        <img src="{{ url_for('static', filename='img/logo_blue_o.png') }}" alt="">
                    </a>
                </div>

                <h2 class="cart_header">Your Cart</h2>
            </header>

            <div class="cart_product">
                <div class="cart_content_container">
                    <div class="cart_content_container_sub">
                        <div class="cart_content_container_sub_head">
                            <h2 class="productsHead">Products</h2>
                            <div class="cart_content_container_sub_head_subber">
                                <h3>Quantity</h3>
                                <h3>Price</h3>
                            </div>
                        </div>
                        <div class="cart_content">
                            <!-- Items will be rendered here -->
                        </div>
                    </div>

                    <div class="order">
                        <div class="order_summary">
                            <h2 class="order_summary_header">Order Summary</h2>
                            <div class="order_summary_content">
                                <div class="order_summary_content_sub1">
                                    <h3>Total products</h3>
                                    <div class="total_price">$0</div>
                                </div>
                                <div class="order_summary_content_sub1">
                                    <h3>Shipping fee</h3>
                                    <h3>Free</h3>
                                </div>
                                <div class="order_summary_content_sub1">
                                    <a href="#">Add coupon code ></a>
                                </div>
                            </div>
                            <div class="order_summary_content_total">
                                <div class="order_summary_content_sub2">
                                    <h3>Total</h3>
                                    <div class="total_price_two">$0</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <button class="check_out_btn">Check Out</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script/cart.js') }}"></script>
</body>

</html>